html {
	height: 100%;
}

body {
/*	background: url(https://images.unsplash.com/photo-1503453363464-743ee9ce1584?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0b180c432d9240da00e66807b834ffe&auto=format&fit=crop&w=2252&q=80);
*/	
	background: #ccf2ff;
	background-size: cover;
	background-position: center;
	padding-top: 70px;
	font-family: Lato;
	color: #2c3e50;
	z-index: 1;
}

#myImage {
	width: 300px;
	border-radius: 50%;
	padding-top: 30px;
	opacity: 1;
}

#selected a {
	color: white;
}

#home {
	text-align: center;
	font-weight: 700;	
}

#home h2 {
	padding-bottom: 20px;
}

#home p {
	padding-bottom: 95px;
}

#home h1 {
	font-size: 80px;
	padding-top: 30px;
}

h2 {
	font-size: 40px;
}

h2, h4 {
	text-align: center;
}

.thumbnail {
	background-color: transparent;
	border: 0px solid black;
}

.skills-portfolio {
	margin-bottom: 120px;
}

#skills i, .skill i {
	font-size: 3em;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.skill > p {
	font-size: 15px;
}

p {
	text-align: center;
	font-size: 20px;
}

#contact {
	height: 50px;
	line-height: 50px;
}

hr {
	border-color: black;
	margin-bottom: 0px;
}

a {
	color: #2c3e50;
}

#contact > i {
	font-size: 20px;
	height: 50px;
}

.hover {
	color: green;
}

#contact .bottom-line {
	font-size: 25px;
	text-align: left;
}

#contact span {
	padding-left: 20px;
}

.contact-icons a {
	color: #9d9d9d;
	font-size: 30px;
	padding-right: 10px;
	float: right;
}

#about, .skills-out-of-container {
	background: #ffdd99;
	padding: 5px 0 20px 0;
}

#aboutNavLink, #portfolioNavLink {
	padding: 15px;
}

#about ul {
	list-style: square;
	padding-left: 30px;
}
/*#about div:nth-of-type(2):first-letter {
	font-size: 100px;
	color: green;
}*/

#about div:nth-of-type(1):first-line {
	font-size: 30px;
	padding-bottom: 0px;
}

/*#about li:nth-of-type(1) {
	padding-top: 0px;
}*/

#about li:last-of-type {
	padding-bottom: 20px;
}

#about ul > li {
	font-size: 20px;
	padding-top: 10px;
	padding-left: 0px;
	width: 830px;
}

#about a {
	float: right;
}

.btn-success {
 	color: black;
 }

#about div > img {
	margin: 140px 0 30px 100px;
    width: 300px;
    height: 256px;
}

.navbar-inverse {
	background-color: #2c3e50;
}
.navbar-inverse .navbar-brand {
	color: white;
}

#portfolio .thumbnail > img {
	width: 450px;
	height: 280px;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
}

#portfolio li {
	font-size: 18px;
}

#portfolio a {
	text-decoration: underline;
	color: blue;	
}

.links {
	display: block;
	text-align: center;
	font-size: 20px;
}

#portfolio ul {
	margin-bottom: 0px;
}

a.code {
	padding-left: 10px;
	padding-right: 10px;
}

hr.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.before-contact {
	margin: 0px;
}

div.before-contact {
	background-color: #2c3e50;
	color: #9d9d9d;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.title-section {
	text-align: left;
	font-size: 60px;
	font-family: 'Pacifico', cursive;
	padding-bottom: 10px;
}

.title-section:first-letter {
	font-size: 80px;
	color: green;
	font-weight: 700;
}

#skills div:last-child {
	margin-bottom: 60px;
}


