html {
	height: 100%;
}

body {
	background: url(https://images.unsplash.com/photo-1503453363464-743ee9ce1584?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a0b180c432d9240da00e66807b834ffe&auto=format&fit=crop&w=2252&q=80);
	background-size: cover;
	background-position: center;
	padding-top: 70px;

}

#myImage {
	width: 300px;
	border-radius: 50%;
	padding-top: 30px;
	opacity: 1;
}

.home {
	text-align: center;
}

h2, h4 {
	text-align: center;
}

.resize {
	max-height: 195px;
}

.thumbnail {
	background-color: transparent;
	border: 0px solid black;
}

.skills i, .contact i {
	font-size: 3em;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

p {
	text-align: center;
}

.contact {
	padding-bottom: 20px;
}

hr {
	border-color: black;
	margin-bottom: 0px;
}

a {
	color: black;
}