body {
	padding-top: 20px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.back-icon > a {
    position: fixed;
    top: calc(50% - 25px);
    font-size: 50px;
    left: 5%;
    color: rgba(0, 0, 0, 0.5);
}
